@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}

.loading-spinner__label {
  color: white;
  position: absolute;
}

.loading-spinner__spinner {
  height: 100%;
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s;
}

.loading-spinner__spinner::before {
  animation: 1.5s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #ffc632;
  border-radius: 50%;
  content: '';
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 40px;
  will-change: transform;
}
